@model IEnumerable<HRHelper.Models.JobPosition>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MustHave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technologies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewGuide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jargon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MustHave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technologies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewGuide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jargon)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
